{% extends 'base.html' %}
{% block content %}
<main class="container-fluid" id="admin-content">
<h1>My orders</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Seat ID</th>
      <th scope="col">Station Start</th>
      <th scope="col">Station End</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in data['tickets'] %}
    <tr>
      <th scope="row">{{ ticket['id'] }}</th>
      <td>{{ ticket['seat_id'] }}</td>
      <td>{{ ticket['station_start_id'] }}</td>
      <td>{{ ticket['station_end_id'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</main>
{% endblock %}