{% extends 'base.html' %}
{% block content %}
<main class="container-fluid" id="reset-password-content">
    <h1>Reset password</h1>
    <form autocomplete="off" name="form-reset-password" id="form-reset-password">
        <div class="row">
            <div class="form-group col-12">
                <label for="password">New password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your new password">
            </div>
            <button type="submit" class="btn btn-primary col-12 col-sm-6 col-md-3 ms-auto" id="btn-reset-password">Save</button>
        </div>
    </form>
</main>
{% endblock %}