{% extends 'base.html' %}
{% block content %}
<main class="container-fluid" id="search-content">
    <h1>{{ data['station_start_name'] }} - {{ data['station_end_name'] }}</h1>
    <h2>{{ data['depart_date'] }}</h2>
    <h3>{{ data['trips']|length }} trains</h3>
    {% for trip in data['trips'] %}
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ trip.train_name }}</h5>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-4">
                        <span class="bold">
                            {{ trip['time_dep_pretty'] }}
                        </span>
                    </div>
                    <div class="col-4 justify-content-center d-flex">
                        <span>
                            {{ trip['duration_pretty'] }}
                        </span>
                    </div>
                    <div class="col-4 justify-content-end d-flex">
                        <span class="bold">
                        {{ trip['time_arr_pretty'] }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ data['station_start_name'] }}
                    </div>
                    <div class="col-6 justify-content-end d-flex">
                        {{ data['station_end_name'] }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <hr>
                {% for carriage_seat in trip['carriage_seats'] %}
                <div class="row align-items-center">
                    <div class="col-4 col-sm-3">{{ carriage_seat['carriage_type'] }}</div>
                    <div class="col-2 col-sm-1 justify-content-end d-flex bold">{{ carriage_seat['seat_quantity'] }}</div>
                    <div class="col-6 col-sm-4 justify-content-end d-flex bold">₴ {{'%0.2f'| format(carriage_seat['seat_price']/100|float)}}</div>
                    <div class="col-12 col-sm-4">
                        <a href="/seats?trip={{ trip.id }}&train={{ trip.train_id }}&ctype={{ carriage_seat['carriage_id'] }}&from={{ data['station_start_id'] }}&to={{ data['station_end_id'] }}">
                        <button type="submit" class="btn btn-primary w-100" id="btn-select">Select</button>
                        </a>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</main>
{% endblock %}