{% extends 'base.html' %}
{% block content %}
<main class="container-fluid" id="admin-content">
{% if data['status'] == 'valid' %}
<div class="alert alert-success" role="alert">
    <dl class="row">
        <dt class="col-3">#</dt>
        <dd class="col-9">{{ data['ticket']['id'] }}</dd>
        <dt class="col-3">Train</dt>
        <dd class="col-9">{{ data['ticket']['train_name'] }}</dd>
        <dt class="col-3">Carriage</dt>
        <dd class="col-9">{{ data['ticket']['carriage_num'] }}</dd>
        <dt class="col-3">Seat</dt>
        <dd class="col-9">{{ data['ticket']['seat_num'] }}</dd>
        <dt class="col-3">From</dt>
        <dd class="col-9">{{ data['ticket']['station_start_name'] }}</dd>
        <dt class="col-3">To</dt>
        <dd class="col-9">{{ data['ticket']['station_end_name'] }}</dd>
        <dt class="col-3">Depart</dt>
        <dd class="col-9">{{ data['ticket']['time_dep'] }}</dd>
        <dt class="col-3">Arrive</dt>
        <dd class="col-9">{{ data['ticket']['time_arr'] }}</dd>
        <dt class="col-3">Email</dt>
        <dd class="col-9">{{ data['ticket']['user_email'] }}</dd>
    </dl>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  This ticket is invalid!
</div>
{% endif %}
</main>
{% endblock %}